*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    background-image: url("../images/img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff; 
}
h1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    background: -webkit-linear-gradient(rgb(111, 49, 192), rgb(115, 159, 177));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
    }
.container{
    
    background-image: url("../images/crystalball.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height:400px;
    opacity: 0.65;
    border-radius:50%;
    
}
p{
    text-align: center;
    font-size: 25px;
    font-weight:600;
    line-height: 150%;
    background: -webkit-linear-gradient(rgb(224, 219, 235), rgb(228, 219, 221));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
 }
